@use '../../Functios.scss' as f;

.product-page {
  display: grid;
  justify-items: center;
  gap: 1rem;
  grid-template-columns: 1fr;
  padding-inline: 33px;

  &__image {
    img {
      height: 200px;
    }
  }

  &__info {
    width: 100%;
    justify-self: start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    h4 {
      font-size: 1.1rem;
    }
  }

  &__reviews {
    margin-top: 2rem;
    justify-self: stretch;

    h3 {
      margin-bottom: 2rem;
    }

    .reviews-area {
      width: 100%;
      height: 300px;
      overflow: scroll;

      .item {
        .user {
          display: flex;
          align-items: center;
          gap: 1rem;
        }
      }
    }
  }

  .btn {
    justify-self: stretch;
  }
}
