@use '../Functios.scss' as f;

.home {
  opacity: 0;
  transform: translate3d(-30px, 0px, 0px);
  animation-name: showLeft;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;

  h1 {
    margin: 1rem 0 2rem;
    text-align: center;
    font-weight: 300;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 250px));
    justify-content: center;
    gap: 1rem;
    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}
