@use '../../Functios.scss' as f;

.header {
  background-color: #333;

  .logo {
    color: white;
    font-size: f.rem(25);
    font-weight: bold;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
