@use '../../Functios.scss' as f;

.header {
  background-color: #333;

  .logo {
    color: white;
    font-size: f.rem(25);
    font-weight: bold;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cart-icon {
      position: relative;

      .total-items {
        position: absolute;
        bottom: -5px;
        right: -5px;
        background-color: #fff;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
