.header {
  padding: 42px 33px;

  input {
    background-image: url(../../assets/Search.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 7px 5px;
    padding-left: 35px;
  }
}
