@use './Functios.scss' as f;

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #222;
}

body,
ul,
h1,
h2,
h3,
li {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: f.rem(24);
  line-height: f.rem(28);
}

h2 {
  font-weight: 700;
  font-size: f.rem(18);
  line-height: f.rem(22);
}

p {
  font-weight: 400;
  font-size: f.rem(16);
  line-height: f.rem(19);
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
  @media screen and (min-width: 900px) {
    max-width: 1000px;
  }
  @media screen and (min-width: 1400px) {
    max-width: 1100px;
  }
}

.btn {
  background-color: #525252;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #fff;
  transition: 0.3s;
  &:hover {
    background-color: #fff;
    color: #525252;
    border: 2px solid #525252;
  }
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin-bottom: 1.7rem;
}

input[type='text'] {
  width: 100%;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  height: f.rem(36);
  outline: none;
  padding: 9px;
  transition: 0.3s;
  font-size: 1rem;

  &:focus {
    box-shadow: 0 0 0 3px #d4d4d4;
  }
}

.svg {
  filter: invert(42%) sepia(2%) saturate(833%) hue-rotate(175deg)
    brightness(95%) contrast(86%);
}
